     <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Parcel Track</h1>

          <%= form_with url: "/tracks", :html => {:class => "form-inline"}, method: :post do |f| %>
            <div class="row">
              <div class="col-md-12">
              <%= f.label :order_track_id,"Order Track Id:",  class: "" %>
            
              <%= f.text_field :order_track_id, class: " " %>
              
            <%= f.submit "Submit", class: "btn btn-default btn-primary"  %>
              
            </div>
            </div>
          <% end %>
          
          <% if @track_id %>
                <table class="table m-4">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Sender Full Name</th>
                    <th scope="col">Cost Of Service</th>
                     <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                 <% if @tracks.count > 0 %>
                    <% @tracks.each do |track| %>
                        <tr>
                        <th scope="row"><%= track[:order_track_id] %></th>
                        <td><%= track[:sender_full_name] %></td>
                        <td><%= track[:cost_of_service] %></td>
                        <td><%= track[:status] %></td>
                        </tr>
                          <% end %>
                  <% else %>
                    <tr> <td colspan="6">Record Not Found</td></tr>
                 <% end %>
                   </tbody>
                </table>
          <% end %>

        </div>
      </section>